.header {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #bbb;
}

.button {
    font-size: 14px;
    letter-spacing: .5px;
    border: 1px solid #bbb;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding: 8px 16px;
}