.header {
    margin: auto;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
}

.rightSideHeader {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.leftSideHeader {
    display: flex;
    align-items: center;
}

.buttonAvatar {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAvatar {
    border-radius: 50%;
}